<div class="container">
  <h2>Speakers</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <td colspan="4">
          <div class="options">
            <a routerLink="edit">
                <i class="fa fa-file-o" aria-hidden="true"></i> new
            </a>
          </div>
        </td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sp of (speaker | async)">
        <td>{{sp.firstName}}</td>
        <td>{{sp.lastName}}</td>
        <td>
            <a (click)="delete(sp.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            <a [routerLink]="['edit',sp.id]"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
      </tr>
    </tbody>
  </table>
</div>
